

<div id="overlay">
	<!-- <a href="#" onclick="hideLightbox(); return false;"><img id="loadingImage" /></a> -->
	<a href="images/egg.jpg" rel="lightbox" ><img src="images/egg_thumb.jpg" /></a>
	<a href="images/egg.jpg" rel="lightbox" ><img src="images/egg_thumb.jpg" /></a>
	<a href="images/egg.jpg" rel="lightbox" ><img src="images/egg_thumb.jpg" /></a>
	<a href="images/egg.jpg" rel="lightbox" ><img src="images/egg_thumb.jpg" /></a>
	<a href="images/egg.jpg" rel="lightbox" ><img src="images/egg_thumb.jpg" /></a>
	<a href="images/egg.jpg" rel="lightbox" ><img src="images/egg_thumb.jpg" /></a>
	<a href="images/egg.jpg" rel="lightbox" ><img src="images/egg_thumb.jpg" /></a>
	<a href="images/egg.jpg" rel="lightbox" ><img src="images/egg_thumb.jpg" /></a>
	<a href="images/egg.jpg" rel="lightbox" ><img src="images/egg_thumb.jpg" /></a>
	<a href="images/egg.jpg" rel="lightbox" ><img src="images/egg_thumb.jpg" /></a>
	<a href="images/egg.jpg" rel="lightbox" ><img src="images/egg_thumb.jpg" /></a>
	<a href="images/egg.jpg" rel="lightbox" ><img src="images/egg_thumb.jpg" /></a>
</div>


<!-- the code that came with the lightbox -->
 <!-- <div id="overlay">
			<a href="#" onclick="hideLightbox(); return false;"><img id="loadingImage" /></a>
		</div>
	 <div id="lightbox">
			<a href="#" onclick="hideLightbox(); return false;" title="Click anywhere to close image">
				<img id="closeButton" />		
				<img id="lightboxImage" />
			</a>
			<div id="lightboxDetails">
				<div id="lightboxCaption"></div>
				<div id="keyboardMsg"></div>
			</div>
	 </div> -->