	<section id="examples" class="examples-section">
		<div class="containerg">


			<div class="image-row">
				<div class="image-set">
					<a class="example-image-link" href="images/egg.jpg" data-lightbox="example-set" data-title="Eggs in a basket"><img class="example-image" src="images/egg_thumb.jpg"alt=""/></a>
					<a class="example-image-link" href="images/space.jpg" data-lightbox="example-set" data-title="Inside the restuarant"><img class="example-image" src="images/space-thumb.jpg"alt=""/></a>
					<a class="example-image-link" href="images/egg.jpg" data-lightbox="example-set" data-title="Eggs in a basket"><img class="example-image" src="images/egg_thumb.jpg"alt=""/></a>
					<a class="example-image-link" href="images/egg.jpg" data-lightbox="example-set" data-title="Eggs in a basket"><img class="example-image" src="images/egg_thumb.jpg"alt=""/></a>
					<a class="example-image-link" href="images/egg.jpg" data-lightbox="example-set" data-title="Eggs in a basket"><img class="example-image" src="images/egg_thumb.jpg"alt=""/></a>
					<a class="example-image-link" href="images/egg.jpg" data-lightbox="example-set" data-title="Eggs in a basket"><img class="example-image" src="images/egg_thumb.jpg"alt=""/></a>
					<a class="example-image-link" href="images/egg.jpg" data-lightbox="example-set" data-title="Eggs in a basket"><img class="example-image" src="images/egg_thumb.jpg"alt=""/></a>
					<a class="example-image-link" href="images/egg.jpg" data-lightbox="example-set" data-title="Eggs in a basket"><img class="example-image" src="images/egg_thumb.jpg"alt=""/></a>
					<a class="example-image-link" href="images/egg.jpg" data-lightbox="example-set" data-title="Eggs in a basket"><img class="example-image" src="images/egg_thumb.jpg"alt=""/></a>
					<a class="example-image-link" href="images/egg.jpg" data-lightbox="example-set" data-title="Eggs in a basket"><img class="example-image" src="images/egg_thumb.jpg"alt=""/></a>
					<a class="example-image-link" href="images/egg.jpg" data-lightbox="example-set" data-title="Eggs in a basket"><img class="example-image" src="images/egg_thumb.jpg"alt=""/></a>
					<a class="example-image-link" href="images/egg.jpg" data-lightbox="example-set" data-title="Eggs in a basket"><img class="example-image" src="images/egg_thumb.jpg"alt=""/></a>
				</div>
			</div>
		</div>
	</section>
	<script src="/script/js/jquery-1.11.0.min.js"></script>



</body>
</html>





