	<section id="examples" class="examples-section">
		<div class="containerg">


			<div class="image-row">
				<div class="image-set">
					<a class="example-image-link" href="images/noma-8.jpg" data-lightbox="example-set" data-title="Eggs in a basket"><img class="example-image" src="images/egg_thumb.jpg"alt=""/></a>
					<a class="example-image-link" href="images/pearls.jpg" data-lightbox="example-set" data-title="Pearls"><img class="example-image" src="images/pearls-thumb.jpeg"alt=""/></a>	
					<a class="example-image-link" href="images/interior.jpg" data-lightbox="example-set" data-title="Interior"><img class="example-image" src="images/interior-thumb.jpg"alt=""/></a>
					<a class="example-image-link" href="images/sauce.jpg" data-lightbox="example-set" data-title="Asperagas in sauce"><img class="example-image" src="images/sauce-thumb.jpg"alt=""/></a>
					<a class="example-image-link" href="images/spread.jpg" data-lightbox="example-set" data-title="Sandwhiches"><img class="example-image" src="images/spread-thumb.jpeg"alt=""/></a>
					<a class="example-image-link" href="images/lab.jpg" data-lightbox="example-set" data-title="In the lab"><img class="example-image" src="images/lab-thumb.jpeg"alt=""/></a>
					<a class="example-image-link" href="images/foam.jpg" data-lightbox="example-set" data-title="Foam"><img class="example-image" src="images/foam-thumb.jpeg"alt=""/></a>				
					<a class="example-image-link" href="images/dessert.jpg" data-lightbox="example-set" data-title="Dessert"><img class="example-image" src="images/dessert-thumb.jpeg"alt=""/></a>
					<a class="example-image-link" href="images/space.jpg" data-lightbox="example-set" data-title="Inside the restuarant"><img class="example-image" src="images/space-thumb.jpg"alt=""/></a>
					<a class="example-image-link" href="images/carp.jpg" data-lightbox="example-set" data-title="Carp"><img class="example-image" src="images/carp-thumb.jpeg"alt=""/></a>					
					<a class="example-image-link" href="images/tubes.jpg" data-lightbox="example-set" data-title="Eggs with straws"><img class="example-image" src="images/tubes-thumb.jpeg"alt=""/></a>
					
					<a class="example-image-link" href="images/icecream.jpg" data-lightbox="example-set" data-title="Carrot Ice Cream"><img class="example-image" src="images/icecream-thumb.jpg"alt=""/></a>
				
				</div>
			</div>
		</div>
	</section>
	<script src="/script/js/jquery-1.11.0.min.js"></script>



</body>
</html>





