<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title><%=@title  ||= "Cruzberg Café" %></title>
	<link rel="stylesheet" href="/css/reset.css">
	<link rel="stylesheet" href="/css/style.css">
	
	<link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.4/themes/smoothness/jquery-ui.css" />
	


	
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

	
	<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.4/jquery-ui.min.js"></script>
	<script type="text/javascript" src="/script/script.js"></script>
	

</head>
<body>
<!-- on every page -->
<div id="wrap">
	      <header> 	
		<h1 id= "logo"><a href="index">Cruzberg <br>Café</a></h1>
		
	
	<div id="social">
		<button id="button"> 

		<a href="reservation" target="_blank">RESERVATIONS</a>
		
		</button>

		<ul id="icons">	
			<li><a id="instagram" href=""target="_blank"> <img src="/images/instagram.png" alt=""></a></li>
			<li><a id="twit" href="" target="_blank"> <img src="/images/twitter.png" alt=""></a></li>
			<li><a id="facebook" href=""> <img src="/images/facebook.png" alt=""></a></li>
		</ul>
	</div>	
	</header>

<hr>
	<nav>
		<ul>
			<li><a href="breakfast">breakfast</a></li>
			<li><a href="lunch">lunch</a></li>
			<li><a href="dinner">dinner</a></li>
			<li><a href="takeout">take out</a></li>
			<li><a href="gallery">gallery</a></li>
		</ul>
	</nav>
	<hr>

	<br>
	

	<div id="container">
	<%= yield %>
    </div>
	

	<br><br>
	<hr>
	<footer>
		<p id= "copyright">©  2014 Cruzberg Café</p>
	</footer>
</div>	
	
</body>
</html>