


<div id="form" style = "border: solid 2px; width: 300px; padding: 50px; background-color: rgb(119,119,127); font-family:Calibri;">
	<form action="/new-reservation" method="post">
		<div class="field">
		<div class="field">
			<label for="name" style = "font-family:Philospher">NAME</label>
			<input name="who" type="text">
		</div>
	<br>
			<label for="part_size">HOW MANY?</label>
			<select name="party_size">
					    <option value="1">1</option>
					    <option value="2">2</option>
					    <option value="3">3</option>
					    <option value="4">4</option>
					    <option value="5">5</option>
					    <option value="6">6</option>
					    <option value="7">7</option>
					    <option value="8">8</option>
			</select>	
		</div>
	<br>
		<div class="field">
			<label for="day">WHAT DAY?</label>
			<input type="date" name="day"/>
		</div>
	<br>
		<div class="field"
			<label for="time">WHAT TIME?</label>
			<input type="time" name="time"/>
		</div>
	<br>
	<div class="field">	
			<label for="contact">EMAIL ADDRESS</label>
			<input name="contact" type="text" value="name@email.com">
		</div>
<br>
		<div class="action" style = "margin-left: 70px">
			<input name="commit" type="submit" value="Send Request"/>
		</div>	
	</form>
</div>