#wrap {
	border: solid 5px;
	width: 900px;
  height: auto;
	margin-right: auto;
	margin-left: auto; 
	margin-top: 30px;
  margin-bottom: 30px;
	 background: #fff;
	 box-shadow: 0 3px 10px -2px rgba(0,0,0,.1);
	 border: 1px solid rgba(0,0,0,.1);
	
}

header { 

	height: 100px;

}
/*Cruzberg Logo */
#logo {

	width: 200px;
	height: 100px;
	float: left;
	font-size:  40px;
	font-family: "Raleway";

	

}

/* Reservations, Contact Us, and Social Media buttons */
#social{ 
	width:  200px;
	float: right;
	font-size: 10px;

	}

/*this is the code for the nav bar*/	

/*this is the code for the nav bar*/

nav {
  position: relative;
  margin-top: 12px;
  margin-left: 150px;
  margin-bottom: 12px;
  clear: both;
  font: 15px 'Philospher', sans-serif;
}

nav li{
  display: inline-block;
  margin-right: 80px;
}

nav a {
  text-decoration: none;
  color: rgb(119,119,127);
}

nav a:hover {
  color: rgb(5,169,197);
}



.meal{ 

  width: 650px;
  margin-top: 15px;
  margin-left: auto;
  margin-right: auto;

  vertical-align: middle;

}

#mainpage img { 
	width:860px;
  height: auto;
  margin:auto;
  position: center;

	
}*/
/*this is where the code for the menus start*/

hr {
  clear:both;
}

#menu {
	width: 860px;
	height:auto;
	border: solid 1px;
	margin: auto;
}

#menu img {
	width:860px;
	height: auto;
	margin:auto;
	position: center;

}

footer {
  margin-left: 40px;
  font-size: 15px;
  color: rgb(153,153,153);
  margin-bottom: 20px;
  margin-top: 20px;
}


/*this is where the code for the gallery starts*/


body:after {
  content: url(../images/close.png) url(../images/loading.gif) url(../images/prev.png) url(../images/next.png);
  display: none;
}

.containerg{margin:0 auto;max-width:60rem;width:90%}

.example-image-link{display:inline-block;padding:4px;
  margin:0 0.5rem 1rem 0.5rem;
  background-color:#fff;
  line-height:0;
  -webkit-transition:background-color 0.1s ease-out;
  -moz-transition:background-color 0.1s ease-out;
  -o-transition:background-color 0.1s ease-out;
  transition:background-color 0.1s ease-out;-
  webkit-border-radius:6px;
  -moz-border-radius:6px;
  -ms-border-radius:6px;
  -o-border-radius:6px;
  border-radius:6px}

.example-image-link:hover{background-color:#4ae}

.example-image {width:10rem;
  -webkit-border-radius:5px;
  -moz-border-radius:5px;
  -ms-border-radius:5px;
  -o-border-radius:5px;b
  order-radius:5px}

.lightboxOverlay {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9999;
  background-color: black;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
  opacity: 0.8;
  display: none;
}

.lightbox {
  position: absolute;
  left: 0;
  width: 100%;
  z-index: 10000;
  text-align: center;
  line-height: 0;
  font-weight: normal;
}

.lightbox .lb-image {
  display: block;
  height: auto;
  max-width: inherit;
  border-radius: 3px;
}

.lightbox a img {
  border: none;
}

.lb-outerContainer {
  position: relative;
  background-color: white;
  *zoom: 1;
  width: 250px;
  height: 250px;
  margin: 0 auto;
  border-radius: 4px;
}

.lb-outerContainer:after {
  content: "";
  display: table;
  clear: both;
}

.lb-container {
  padding: 4px;
}

.lb-loader {
  position: absolute;
  top: 43%;
  left: 0;
  height: 25%;
  width: 100%;
  text-align: center;
  line-height: 0;
}

.lb-cancel {
  display: block;
  width: 32px;
  height: 32px;
  margin: 0 auto;
  background: url(../images/loading.gif) no-repeat;
}

.lb-nav {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 10;
}

.lb-container > .nav {
  left: 0;
}

.lb-nav a {
  outline: none;
  background-image: url('data:image/gif;base64,R0lGODlhAQABAPAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==');
}

.lb-prev, .lb-next {
  height: 100%;
  cursor: pointer;
  display: block;
}

.lb-nav a.lb-prev {
  width: 34%;
  left: 0;
  float: left;
  background: url(../images/prev.png) left 48% no-repeat;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  transition: opacity 0.6s;
}

.lb-nav a.lb-prev:hover {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}

.lb-nav a.lb-next {
  width: 64%;
  right: 0;
  float: right;
  background: url(../images/next.png) right 48% no-repeat;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  transition: opacity 0.6s;
}

.lb-nav a.lb-next:hover {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}

.lb-dataContainer {
  margin: 0 auto;
  padding-top: 5px;
  *zoom: 1;
  width: 100%;
  border-bottom-right-radius: 4px;
}

.lb-dataContainer:after {
  content: "";
  display: table;
  clear: both;
}

.lb-data {
  padding: 0 4px;
  color: #ccc;
}

.lb-data .lb-details {
  width: 85%;
  float: left;
  text-align: left;
  line-height: 1.1em;
}

.lb-data .lb-caption {
  font-size: 13px;
  font-weight: bold;
  line-height: 1em;
}

.lb-data .lb-number {
  display: block;
  clear: left;
  padding-bottom: 1em;
  font-size: 12px;
  color: #999999;
}

.lb-data .lb-close {
  display: block;
  float: right;
  width: 30px;
  height: 30px;
  background: url(../images/close.png) top right no-repeat;
  text-align: right;
  outline: none;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
  opacity: 0.7;
  transition: opacity 0.2s;
}

.lb-data .lb-close:hover {
  cursor: pointer;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}
