#wrap {
	border: solid 5px;
	width: 900px;
	margin-right: auto;
	margin-left: auto; 
	margin-top: 30px;
	 background: #fff;
	 box-shadow: 0 3px 10px -2px rgba(0,0,0,.1);
	 border: 1px solid rgba(0,0,0,.1);
	
}

header { 

	height: 100px;

}
/*Cruzberg Logo */
#logo {

	width: 200px;
	height: 100px;
	float: left;
	font-size:  40px;
	font-family: "Raleway";

	

}

/* Reservations, Contact Us, and Social Media buttons */
#social{ 
	width:  200px;
	float: right;
	font-size: 10px;

	}

/*this is the code for the nav bar*/	
nav {
	height: 50px;
	width: 900px;
	
	display: table; 
	position: relative;
	margin-left: auto;
	margin-right:auto;
	clear: both;
	font: 15px 'Philospher', sans-serif;
	  background: #fff;
	  box-shadow: 0 3px 10px -2px rgba(0,0,0,.1);
	  border: 1px solid rgba(0,0,0,.1);
	
}

/* Breakfast, Lunch, Dinner , Takeout */
.meal{ 

	width: 650px;
	margin-top: 15px;
	margin-left: auto;
	margin-right: auto;

	vertical-align: middle;

}

nav li{
	display: inline-block;
	margin-right: 80px;
	vertical-align: middle;

}

nav a {
	

}

nav a:hover {
	
}


#container{ 
	max-height: 669px;
	max-width: 900px;
	background-image:  url(/images/bg.jpg);
	i
}
/*this is where the code for the menus start*/

#menu {
	width: 860px;
	height:auto;
	border: solid 1px;
	margin: auto;
}

#menu img {
	width:860px;
	height: auto;
	margin:auto;
	position: center;

}

footer {
	margin-left: 40px;
	font-size: 15px;
	color: rgb(153,153,153);
	margin-bottom: 20px;
	margin-top: 20px;
	margin-left: auto;
	margin-right:auto;
}

#copyright{
	width:  150px;
	margin-left: auto;
	margin-right: auto;
}

/*this is where the code for the gallery starts*/

#lightbox{
	background-color:#eee;
	padding: 10px;
	border-bottom: 2px solid #666;
	border-right: 2px solid #666;
	}
#lightboxDetails{
	font-size: 0.8em;
	padding-top: 0.4em;
	}	
#lightboxCaption{ float: left; }
#keyboardMsg{ float: right; }
#closeButton{ top: 5px; right: 5px; }

#lightbox img{ border: none; clear: both;} 
#overlay img{ border: none; margin: 6px; border-radius: 5px;}

#overlay{ background-image: url(/images/overlay.png); 
	margin: 10px; padding-left: 10px; border-radius: 3px;
	padding-top: 10px; padding-bottom: 10px}

* html #overlay{
	background-color: #333;
	back\ground-color: transparent;
	background-image: url(/images/blank.gif);
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="overlay.png", sizingMethod="scale");
	}